<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - 短链接</title>

    <environment include="Development">
        <link rel="stylesheet" href="~/css/site.css" type="text/css"/>
    </environment>
    <environment exclude="Development">
        <link rel="stylesheet" href="~/css/site.css" type="text/css" />
    </environment>
</head>
<body>
    <div class="topper">
        <div class="left">
            <a asp-action="index" asp-controller="home">首页</a>
            <a asp-action="doc" asp-controller="api">APIs</a>
        </div>
        <div class="right">
            <a>分享</a>
            <a asp-action="about" asp-controller="home">关于</a>
        </div>
    </div>
    <div class="container body-content">
        @RenderBody()
    </div>
    <div class="footer">
        <div class="line"></div>
        <div class="linkbar">
            <a href="http://pm.tianxia.ink">Spm</a>|
            <a href="http://jquery-utils.hicode.net">Jquery-utils</a>|
            <a href="http://github.com">Github</a>|
            <a href="http://google.com">谷歌</a>|
            <a href="http://bootcdn.com">BootCDN</a>
        </div>
        <div class="linkbar">
            <a asp-action="contact" asp-controller="home">联系</a>
            <a asp-action="about" asp-controller="home">关于</a>
        </div>
    </div>
    <environment include="Development">
        <script src="~/lib/jquery/dist/jquery.js"></script>
        <script src="~/js/site.js" asp-append-version="true"></script>
    </environment>
    <environment exclude="Development">
        <script src="https://ajax.aspnetcdn.com/ajax/jquery/jquery-2.2.0.min.js"
                asp-fallback-src="~/lib/jquery/dist/jquery.min.js"
                asp-fallback-test="window.jQuery"
                crossorigin="anonymous"
                integrity="sha384-K+ctZQ+LL8q6tP7I94W+qzQsfRV2a+AfHIi9k8z8l9ggpc8X+Ytst4yBo/hH+8Fk">
        </script>
        <script src="~/js/site.min.js" asp-append-version="true"></script>
    </environment>

    @RenderSection("Scripts", required: false)
</body>
</html>
