body{
    height:100%;
    width:100%;
}
.body-content{
    padding-top:2rem;
    flex-direction:row;
}
.nav {
    flex:0 0 auto;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    background-color: whitesmoke;
}
@media(min-width:768px){
    .nav{
        width:15rem;
    }
    .doc-body{
        margin-left:2rem;
    }
}
@media(max-width:768px) and (min-width:480px){
    .nav {
        width:12rem;
    }
    .doc-body{
        margin-left:1rem;
    }
}
@media(max-width:480px) {
    .nav {
        width: 10rem;
    }
    .doc-body{
        margin-left:0.5rem;
    }
}
.nav .group{
    display:flex;   
    flex-direction:column;
    align-items:stretch;
}
.nav .group .title{
    display:flex;
    justify-content:flex-start;
    align-items:center;
    height:2.5rem;
    padding-left:1rem;
    /*background-color:lightgray;*/
    font-weight:500;
}
.nav .group .item {
    padding-left:3rem;
    display: flex;
    justify-content:flex-start;
    align-items: center;
    height:2.5rem;
    cursor:pointer;
    font-size:0.95rem;
    border-left:solid 5px transparent;
}
.nav .group .item:hover{
    border-left:solid 5px lightgray;
}
.nav .group .item.active{
    /*background-color:lightgray;*/
    border-left:solid 5px green;
}


.doc-body{
    flex:2 1 auto;
    display:flex;
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    padding: 0 1rem;
    background-color:whitesmoke;
    overflow-y:auto;
}
.doc-body .doc-title{
    flex-shrink:0;
    padding-top:1rem;
    height:4rem;
    /*font-size:1.1rem;*/
    display:flex;
    justify-content:flex-start;
    align-items:center;
}

.doc-body .section{
    display:flex;   
    flex-direction:column;
    align-items:stretch;
    margin-top:1rem;
    border-top:dashed 1px lightgray;
    flex-shrink:0;
}
.doc-body .section .title {
        padding-top:1rem;
        height: 4rem;
        display: flex;
        align-items: center;
        color: green;
    }
.doc-body .section .title > * {
    border-left: solid 0.3rem green;
    padding-left: 0.3rem;
    font-weight: 500;
    line-height:1rem;
}
.doc-body .section .content{
}

.doc-body .section table{
    background-color:white;
    border-color:whitesmoke;
    border-spacing:0;
    width:100%;
}
.doc-body .section thead{
     background-color:lightgray
 }
.doc-body .section td{
     padding-left:1rem;
     padding-right:1rem;
     word-break:break-word;
 }
.doc-body .section tbody td{
     padding-top:1rem;
     padding-bottom:1rem;
 }
.doc-body .section thead td:first-child{
    width:15%;
}
.doc-body .section thead td:nth-child(2) {
    width: 10%;
}
.doc-body .section thead td:nth-child(3) {
    width: 10%;
}
.doc-body .section thead td:nth-child(4) {
    width: 45%;
}
.doc-body .section thead td:last-child {
    width: 20%;
}