<div class="intro-content">
    <div class="item-title">
        <label>缩短URL</label>
    </div>
    <div class="section">
        <div class="title">
            <label>应用场景</label>
        </div>
        <div class="content">
            需要将长连接转换为短链接，如生成二维码、分享给好友时调用此接口，将会返回短链接
        </div>
    </div>
    <div class="section">
        <div class="title">
            <label>接口链接</label>
        </div>
        <div class="content">
            @ShortUrl.Utils.Configuration.Host/api/zip
        </div>
    </div>
    <div class="section">
        <div class="title">
            <label>参数列表</label>
        </div>
        <div class="content">
            
        </div>
    </div>
</div>

