<div class="detail-content">
    <div class="item-title">
        <label>文档说明</label>
    </div>
    <div class="section">
        <div class="title"><label>开心一下</label></div>
        <div class="content">懂得前端开发的开发者可在几分钟内读完并掌握api调用</div>
    </div>
</div>
