#About.body-content{
    align-items:stretch;
}
#About.body-content > .title{
    padding:2rem 2rem;
}
#About.body-content > .title label{
    padding:1rem;
    border-radius:50%;
    background-color:lightgray;
}

#About .section{
    display:flex;
    flex-direction:column;
    align-items:stretch;
    background-color:aliceblue;
}
#About .section .title{
    color:darkcyan;
    padding:1rem;
    font-size:1.6rem;
    font-weight:600;
}
#About .section .content{
    color:darkolivegreen;
    padding:1rem;
}