.page-content{
    flex:1 1;
    display:flex;
    flex-direction:column;
    align-items:stretch;
}
.page-content > .title{
    padding:2rem 2rem;
}
.page-content > .title label{
    padding:1rem;
    border-radius:50%;
    background-color:lightgray;
}

.section{
    display:flex;
    flex-direction:column;
    align-items:stretch;
    background-color:aliceblue;
}
.section .title{
    color:darkcyan;
    padding:1rem;
    font-size:1.6rem;
    font-weight:600;
}
.section .content{
    color:darkolivegreen;
    padding:1rem;
}