.page-content{
    flex:1 1 auto;
    display:flex;
    justify-content:center;
    align-items:center;
}
.box{
    display:flex;   
    flex-direction:column;
    justify-content:flex-start;
    align-items:stretch;
    width:36rem;
    background-color:lightgray;
    border-radius:5px;
}
.tab-banner{
    flex:0 0 auto;
    display:flex;
    align-items:center;
}
.tab-banner .tab-header{
    flex: 1 1 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    font-size:1.1rem ;
    font-weight:500;
    background-color:dimgray;
    color:whitesmoke;
    padding:0.5rem;
}
.tab-banner .tab-header.active{
    background-color:transparent;
    color:black;
}
.tab-body{
    display:flex;   
    flex-direction:column;
    align-items:stretch;
    padding: 1rem;
}
.tab-body .tab-content{
    display:flex;
    flex-direction:column;
    align-items:stretch;
}
.tab-body .tab-content .title{
    display:flex;
    align-items:center;
    padding:0.5rem;
}
.tab-body .tab-content .input-container{
    border:dashed 1px dimgray;
    display:flex;
    justify-content:center;
    padding:0.5rem;
}
.tab-body .tab-content .input-container .host{
    flex:0 0 auto;
    display:flex;
    justify-content:center;
    align-items:center;
    color:green;
    line-height:1rem;
    /*background-color:gray;*/
}
.tab-body .tab-content .input-container input{
    flex:1;
    outline:none;
    border:none;
    font-size:1rem;
    background-color:transparent;
}
.tab-body .tab-content .result {
    color:peru;
    padding: 0 0.5rem;
    height: 4rem;
    overflow-y: auto;
    word-break: break-word;
    word-wrap: break-word;
}
.tab-body .tab-content .result.success{
    color:forestgreen;
    text-decoration:underline;
    cursor:pointer
}
.tab-body .tab-content .result.success:hover {
    color: darkgreen
}
.tab-body .tab-content .result.error{
    color:red;
}
.tab-body .tab-content .submit {
    display:flex;
    justify-content:flex-end;
    align-items:center;
    padding-top:1rem;
}
.tab-body .tab-content .submit .button{
    display:flex;
    justify-content:center;
    align-items:center;
    padding:0.5rem 1rem;
    background-color:dimgray;
    border-radius:5px;
    color:whitesmoke;
}
.tab-body .tab-content .submit .button:hover {
    background-color:black;
}
.tab-body .reverse{
    display:none;
}