* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    width: 100%;
    height: 100%;
    font-size: 14px;
}

/* Wrapping element */
/* Set some basic padding to keep content from hitting the edges */
.body-content {
    display:flex;   
    flex-direction:column;
    justify-content:center;
    width:100%;
    height:100%;
}
.topper {
    flex: 0 0 auto;
<<<<<<< HEAD
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 10%;
    height: 2.6rem;
    background-color: rgba(186,186,186,.76);
    color:darkgreen;
=======
    display:flex;  
    justify-content:space-between;
    align-items:center;
    width:100%;
    padding:0 10%;
    height:2.6rem;
    background-color:rgba(189, 189, 189, 0.76)
>>>>>>> a5998828ba12fd296cb70903ba768bf3d92eb282
}
.topper .right{
    display:flex;   
    justify-content:flex-end;
    align-items:center;
}
.topper .left{
    display:flex;
    justify-content:flex-start;
    align-items:center;
}
.topper .right a{
    margin-right:1rem;
}
.topper .right a:last-child{
    margin-right:0;
}
.topper .left a{
    margin-left:1rem;
}
.topper .left a:first-child{
    margin-left:0;
}
.topper a{
    color:green;
    text-decoration:none;
    color:green;
}
.topper a:hover {
    text-decoration:underline;
}
.topper a:active{
    color:purple;
}
.topper a:visited{

}
.topper a:hover{
    text-decoration:underline;
}
.page-container{
    display:flex;
    flex:1 1 auto;
    overflow:auto;
    padding:0 10%;
}

.footer{
    flex:0 0 auto;
    height:3rem;
    width:100%;
    padding:0 10%;
    display:flex;   
    flex-direction:column;
    justify-content:center;
    align-items:center;
}
.footer .line{
    width:100%;
    border-top:dashed 1px dimgray;
}
.footer .linkbar{
    display:flex;
    justify-content:center;
    align-items:center;
}
.footer .linkbar a{
    padding:0 1rem;
}

