@{
    ViewData["Title"] = "About";
}

<link href="~/css/home/about.css" rel="stylesheet" />
<div class="page-content">
    <div class="title">
        <label>ABOUT</label>
    </div>
    <div class="section">
        <div class="title">
            <label>IMPORTANT!</label>
        </div>
        <div class="content">
            <label>本网站所有功能免费使用，请勿用于生产环境，使用本网站所造成的一切损失自负。</label>
        </div>
    </div>
</div>