@{
    ViewData["Title"] = "Contact";
}
<link href="~/css/home/contract.css" rel="stylesheet" />
<address>
    <strong>Phone</strong> <a href="tel:010-000000">010-000000</a><br />
</address>
<br />
<address>
    <strong>Support</strong> <a href="mailto:livelyong@qq.com">livelyong@qq.com</a><br />
</address>

