<link href="~/css/home/index.css" rel="stylesheet" />

<div class="page-content">
    <div class="box">
        <div class="tab-banner">
            <div class="tab-header forward active" data-target="forward"><label>正转</label></div>
            <div class="tab-header reverse" data-target="reverse"><label>逆转</label></div>
        </div>
        <div class="tab-body">
            <div class="forward tab-content">
                <div class="title"><label>请输入要缩短的网址</label></div>
                <div class="input-container">
                    <input type="text" name="long" id=" long" />
                </div>
                <div class="submit">
                    <div class="button">
                        <label>缩短网址</label>
                    </div>
                </div>
            </div>
            <div class="reverse tab-content">
                <div class="title"><label>请输入短网址</label></div>
                <div class="input-container">
                    <input type="text" name="long" id=" long" />
                </div>
                <div class="submit">
                    <div class="button">
                        <label>还原网址</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    document.onreadystatechange = function () {
        $(".tab-header").click(function () {

            var _ev = event || window.event;
            var _el = _ev.srcElement || _ev.target;
            $(_el).addClass("active").siblings().removeClass("active");
            $(".tab-body").find("." + $(_el).data("target")).fadeIn().siblings().hide();
        });
    }
</script>