<link href="~/css/home/index.css" rel="stylesheet" />

<div class="page-content">
    <div class="box">
        <div class="tab-banner">
            <div class="tab-header forward active" data-target="forward"><label>正转</label></div>
            <div class="tab-header reverse" data-target="reverse"><label>逆转</label></div>
        </div>
        <div class="tab-body">
            <div class="forward tab-content">
                <div class="title"><label>请输入要缩短的网址</label></div>
                <div class="input-container">
                    <input type="text" name="long" id=" long" />
                </div>
                <div class="result"><label>&nbsp;</label></div>
                <div class="submit">
                    <div class="button">
                        <label>缩短网址</label>
                    </div>
                </div>
            </div>
            <div class="reverse tab-content">
                <div class="title"><label>请输入短网址</label></div>
                <div class="input-container">
                    <input type="text" name="long" id=" long" />
                </div>
                <div class="submit">
                    <div class="button">
                        <label>还原网址</label>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>  
    var _apis = (function () { 
        function Apis() {
            this.zipping = false;
        }
        Apis.prototype.zip = function (long, before, error, success) {
            var _self = this;
            var _code_success = "SUCCESS";
            $.ajax({
                url: "/api/zip",
                type: "post",
                data: { url: long },
                dataType: "json",
                beforeSend: function ()
                {
                    _self.zipping = true;
                    if (typeof before == typeof $.ajax){
                        before();
                    }
                },
                error: function (err) {

                    _self.zipping = false;
                    if (typeof error == typeof $.ajax) {
                        error(err);
                    }
                },
                success: function (data)
                {
                    _self.zipping = false;
                    if (typeof success == typeof $.ajax) {
                        if (data.Return_Code == _code_success) {
                            success(data.Result);
                        }
                        else {
                            error(JSON.stringify(data));
                        }
                    }
                }
            });
        }
        Apis.prototype.unzip = function (short) {

        }
        return new Apis();
    })();

    function zip_before() {

    }
    function zip_error(err) {
        _jqForwardResult.text(err);
    }
    function zip_success(result) {
        _jqForwardResult.html("<a href='" + result +"'>" + result + "</a>");
    }
    window.addEventListener("load", function () {
        _jqForwardText = $(".forward input");
        _jqForwardResult = $(".forward .result");
        _jqForwardText.change(function () { _jqForwardResult.html("<br/>"); });
        _jqForwardText.bind("input", function () { _jqForwardResult.html("<br/>"); })
        $(".tab-header").click(function () {
            var _ev = event || window.event;
            var _el = _ev.srcElement || _ev.target;
            $(_el).addClass("active").siblings().removeClass("active");
            $(".tab-body").find("." + $(_el).data("target")).siblings().hide().siblings().show();
        });
        $(".forward .submit .button").click(function () {
            var _long = _jqForwardText.val();
            if (!_long) {
                _jqForwardResult.text("请输入要压缩的网址");
                _jqForwardText.focus();
                return;
            }
            _apis.zip(_long, zip_before, zip_error, zip_success);
        })
    } , false);
  
</script>