@{
    ViewData["Title"] = "首页";
}
<link href="~/css/home/index.css" rel="stylesheet" />

<div class="box">
    <div class="tab-banner">
        <div class="tab-header active" data-target="zip">正转</div>
        <div class="tab-header" data-target="unzip">逆转</div>
    </div>
    <div class="zip tab-body">
        <div class="title"><label>请输入要缩短的网址(最长1024字符)</label></div>
        <div class="input-container">
            <input type="text" name="long" id=" long" maxlength="1024" />
        </div>
        <div class="result"></div>
        <div class="submit">
            <div class="button">
                <label>缩短网址</label>
            </div>
        </div>
    </div>
    <div class="unzip tab-body">
        <div class="title"><label>请输入短网址</label></div>
        <div class="input-container">
            <div class="host"><label>@ShortUrl.Utils.Configuration.Host/</label></div><input type="text" name="short" id=" short" maxlength="8" />
        </div>
        <div class="result"></div>
        <div class="submit">
            <div class="button">
                <label>还原网址</label>
            </div>
        </div>
    </div>
</div>
@section Scripts{
    <script src="https://cdn.codezone.link/jquery.utils/latest/js/utils.core.js"></script>
    <script src="https://cdn.codezone.link/jquery.utils/latest/js/utils.Regex.js"></script>
    <script src="~/js/home/index.js"></script>
}

